<html>
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<title>CS 221 UCI ICS Search Engine SHA</title>
	</head>
	<body ng-app="myApp">
		<div ng-controller="myController" style="padding:10px">
			<div  class="query">
				<br/>
				<form ng-submit="getResults()" class="form-inline">
					<div class="form-group">
						<input class="form-control" type="text" placeholder="Type the Query String here" .
							ng-model="queryText">
						<input class="btn btn-primary" type="button" value="search" ng-click="getResults()">
					</div>
					
				</form>
				
			</div>
			<div class="container" ng-show="showLoadingBar">
				<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate">Loading Results....</span>
			</div>
			<!--i ng-show="showLoadingBar" class="icon-upload icon-large"></i-->
			<div class="results" ng-show="showResults">
				<br/>
				<div><b>Search Results:</b></div>
				<br/>
				<div ng-repeat="result in results">
					<a href="{{result.url}}">{{result.title}}</a>
					<br/>
					<span style="color:#006621">{{result.url}}</span>
					<br/>
					<span>{{result.relevantText}}</span>
					<br/>
					<br/>
				</div>
			</div>
		</div>
		<script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src = "web/js/app.js"></script>
	</body>
	
</html>	